<!-- DataTales Example -->
<div class="card shadow mb-4">
  <div class="card-header py-3">
    <h3 class="m-0 font-weight-bold text-dark">Table des cours
    </h3>
    <a routerLink="/dashboard/add-course" style="background-color: #AF2F64FF;color: white;margin-left: 80%" class="btn">add course</a>
  </div>
  <div class="card-body">
    <div class="table-responsive">
      <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">

        <thead>
        <tr>
          <th>Image</th>
          <th>Title</th>
          <th>Price</th>
          <th>#</th>
        </tr>
        </thead>

        <tbody>
        <tr *ngFor="let c of courses">
          <td>
            <img src="http://localhost:8081/api/course/images/{{c.image}}" style="border-radius: 100%" width="65px" height="65px" alt="Product Image">
          </td>
          <td> {{ c.title }} </td>
          <td> {{ c.price }} </td>
          <td>
            <button class="btn btn-warning" [routerLink]="['/dashboard/update-course', c.idCourse]">Edit</button>
            <button (click)="deleteCourse(c.idCourse)" class="btn btn-danger ml-4">Delete</button>

            <button  routerLink="Details/r.idResto" class="btn btn-info ml-4" >Details</button>

          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
