<section class="container-fluid p-5 mt-2">
  <div class="m-5 row">
    <div class="col-lg-6">
      <h1> <b>Discover Our Courses</b></h1>
    </div>
    <div class="col-lg-2"></div>
    <div class="col-lg-3">
      <button  style="background-color: #af2f64; color: white; border-radius: 100px" class="btn mt-2 btn-lg">View More</button>
    </div>
  </div>

  <div class="row">


      <div *ngFor="let course of courses" class="col-md-4 mt-2">
        <div class="card h-100 shadow-sm">
          <!-- Product Image -->
          <a href="#">
            <img src="http://localhost:8081/api/course/images/{{course.image}}" class="card-img-top" alt="Product Image">
          </a>
          <!-- Product Content -->
          <div class="card-body">
            <a href="#" class="text-decoration-none">
              <h3 class="card-title text-dark">{{course.title}}</h3>
            </a>
            <h5  class="card-text text-muted" style="color: #af2f64 !important;"> {{course.price}} DT / Month</h5>
          </div>
        </div>
      </div>


    </div>


</section>
