<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <form [formGroup]="editCourseForm" (ngSubmit)="updateCourse()">

        <!-- Course Title Input -->
        <div class="form-group">
          <label for="title">Course Title</label>
          <input formControlName="title" type="text" id="title" class="form-control">
        </div>

        <div *ngIf="getTitle?.touched && getTitle?.invalid">
          <small *ngIf="getTitle?.errors!['required']" class="text-danger">Title is required.</small>
          <small *ngIf="getTitle?.errors!['minlength']" class="text-danger">Title must contain at least 3 characters.</small>
        </div>

        <!-- Course Price Input -->
        <div class="form-group">
          <label for="price">Course Price</label>
          <input formControlName="price" type="number" id="price" class="form-control">
        </div>

        <div *ngIf="getPrice?.touched && getPrice?.invalid">
          <small *ngIf="getPrice?.errors!['required']" class="text-danger">Price is required.</small>
        </div>

        <!-- Show Current Image -->
        <div class="form-group">
          <label>Current Image</label> <br>

          <img src="http://localhost:8081/api/course/images/{{course.image}}" width="200px" height="200px" alt="Course Image" class="img-fluid mt-2">
        </div>

        <br>

        <input [disabled]="editCourseForm.invalid" type="submit" value="Update Course" class="btn btn-success">
      </form>
    </div>
  </div>
</div>
