<div class="position-relative">
  <!-- Image de fond -->
  <img src="https://img.freepik.com/photos-gratuite/jeunes-etudiantes-financieres-asiatiques-regardant-lecon-ligne-etudiant-ordinateur-portable-tablette-dans-salon-depuis-maison-nuit_7861-3429.jpg?t=st=1735152807~exp=1735156407~hmac=c86eb8ab48be5dd9208716963a74ee97ea2b072a0715d109a34e4e9d2232dbea&w=1480" class="img-fluid w-100" alt="Background" style="height: 500px; object-fit: cover;">

  <!-- Texte centré -->
  <div class="position-absolute top-50 start-50 translate-middle text-center bg-white p-5 rounded-3 shadow" style="opacity: 0.9;">
    <h1 class="fw-bold">
      <span>Improve your skills on your own</span>
    </h1>
    <h1 class="fw-bold">
    <span> To prepare for a better future</span>
    </h1>

    <a class="btn btn-lg px-5 Register" style="background-color: #af2f64; color: white">Register Now</a>
  </div>
</div>

<app-our-courses></app-our-courses>

<div class="container contactUs d-flex justify-content-center align-items-center p-5 mt-5">
  <div class="w-50">
    <h2 class="text-center"> <b>Contact Us</b></h2>
    <form>
      <div class="mb-3">
        <label for="name" class="form-label"><b>Name</b></label>
        <input type="text" class="form-control" id="name" placeholder="Jiara Martins">
      </div>
      <div class="mb-3">
        <label for="email" class="form-label"><b>Email</b></label>
        <input type="email" class="form-control" id="email" placeholder="hello@reallygreatsite.com">
      </div>
      <div class="mb-3">
        <label for="message" class="form-label"><b>Message</b></label>
        <textarea class="form-control" id="message" rows="4" placeholder="Write your message here"></textarea>
      </div>
      <div class="text-center">
        <a class="btn px-4" style="background-color: #af2f64; color: white">Send the message</a>
      </div>    </form>
  </div>
</div>
